
{% extends 'base.html'%}  {%block title %}Home{% endblock%}



{% block body %}

<html>
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
  </head>
  <body>

    <main>
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
          <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 fw-normal">Knowtify</h1>
            <p class="lead fw-normal">Elevate Your Knowledge, Anytime, Anywhere, via WhatsApp!</p></p>
            <a class="btn btn-outline-dark" href="login">Create Flashcards!</a> <br />  <br/>
            <a class="small text-muted" href="/contact">Facing any problems? Contact us </a>
          </div>
          <div class="product-device shadow-sm d-none d-md-block"></div>
          <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>       
      </main>
      
      <section id="about1">
        <div class="container">
          <div class="row justify-content-md-around justify-content-center align-items-center">
               <div class="col-11 col-md-5 my-3">
                    <img src="static/pic1.svg/" alt="" class="w-100 img-cover">
               </div>
               <div class="col-11 col-md-5 my-3">
                    <h1 class="text-title mb-3"  style="color:#6C63FF">Learn on the Go!</h1>
                    <p class="text-muted mt-2 fs-5"> No need to lug around heavy textbooks.
                         Access a library of engaging quizzes directly through your WhatsApp chat window.
                    </p>
               </div>
          </div>
      </div>
      </section>
    


      <br/>
      <br/>
    

      <section id="about1">
        <div class="container">
          <div class="row justify-content-md-around justify-content-center align-items-center">
               <div class="col-11 col-md-5 my-3">
                    <h1 class="text-title mb-3"  style="color:#6C63FF" >Perfect exam tool </h1>
                    <p class="text-muted mt-2 fs-5"> Boost exam preparation and solidify concepts in a fun and interactive way anywhere anytime!.
                    </p>
               </div>
               <div class="col-5 col-md-5 my-1">
                <img src="static/pic2.svg/" alt="" class="w-100 img-cover">
           </div>
          </div>
      </div>
      </section>

      <br/>
      <br/>


      <section id="about1">
        <div class="container">
          <div class="row justify-content-md-around justify-content-center align-items-center">
               <div class="col-11 col-md-5 my-3">
                    <img src="static/pic3.svg/" alt="" class="w-100 img-cover">
               </div>
               <div class="col-11 col-md-5 my-3">
                    <h1 class="text-title mb-3"  style="color:#6C63FF">Learn from Your Mistakes</h1>
                    <p class="text-muted mt-2 fs-5">Didn't get it right? No sweat! The Knowtify 
                        clarifies the correct answer and provides clear explanations to help you understand the concepts better.      
                    </p>
               </div>
          </div>
      </div>
      </section>
    

  </body>
</html>

{% endblock body %}